

body{
    font-family: Open Sans;
}
.spa{
    color: orange;
}
.pri{
    color: black;
    font-size: 45px;
    font-weight: 800;
   
}
.banner-content{
    max-width: 500px;
}
nav{
    display: flex;
     justify-content: space-between; 
    align-items: center;
    margin:0 200px ;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.prema{
    border-radius: 5px;
    background: orangered;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
 } 
 .section-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
 }
 .section-description{
    color:  #757575;
    text-align: center;
    font-size: 18px;
    
 }
 .headerr{
     background-color: var(--White-Color, #d4caca); 
     background-image: url('/pngtree.jpg'); 
     background-repeat: no-repeat;
     background-position: bottom right;
     background-size: 600px 400px 300px;
 }
 .banner{
    padding: 30px 30px 0px 150px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.profile{
    border-radius: 50%;
}
.banner-gray{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background: papayawhip;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 30px 150px;

}
.skills-containers{
    display: flex;
}
.skill{
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(112, 59, 59, 0.06);
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.resume-column-title{
    color:black;
    font-size: 20px;
    font-weight: 600;
}
.resume-container{
    display: flex;
    gap: 50px;
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 30px;
   margin-right: 20px;
}
.resume-item-institue-description, .resume-item-institute{
    color: #474747;
}
.resume-item-title{
    color: #474747
    font-size: 25px;
    font-weight: 700;  
}
.resume-container hr{
    margin: 30px
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    margin-top: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
    gap: 100px;
}
.footer-column{
    width: 50%;   
}
.social-links a{
margin-right: 25px;
}
.contact input[type="text"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #474747;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;

}