

body{
    font-family: Open Sans;
}
.spa{
    color: orange;
}
.pri{
    color: black;
    font-size: 45px;
    font-weight: 800;
   
}
nav{
    display: flex;
     justify-content: space-between; 
    align-items: center;
    margin:0 200px ;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.prema{
    border-radius: 5px;
    background: orangered;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
 } 
 .headerr{
     background-color: var(--White-Color, #be9595);  
 }
 .banner{
    padding: 30px 30px 30px 150px;
    align-items: center;
    display: flex;
    align-items: center;
 }
.profile{
    
}